In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("data.csv")

In [4]:
print(data)

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [5]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [6]:
input1=np.array(data)[:,:-1]

In [7]:
input1

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [8]:
input2=np.array(data)[:,-1]

In [9]:
input2

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [10]:
input3=np.array(data)[:,-2]

In [11]:
input3

array(['same', 'same', 'change', 'change'], dtype=object)

In [12]:
input4=np.array(data)[:,0]

In [13]:
input4

array(['sunny', 'sunny', 'rainy', 'sunny'], dtype=object)

In [14]:
a=10
b=20
c=a+b

In [15]:
c

30

In [16]:
d=c*5

In [17]:
d

150

In [18]:
trail=np.array(data)[:-1,-2]
trail=np.array(data)[:,-1]

In [19]:
trail

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [20]:
trail=np.array(data)[:-1,-2]

In [21]:
trail

array(['same', 'same', 'change'], dtype=object)

In [22]:
trail=np.array(data)[:,-2,-1]

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed

In [23]:
trail=np.array(data)[:-1,:]

In [24]:
trail

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no']],
      dtype=object)

In [25]:
trail=np.array(data)[-1,:]

In [26]:
trail

array(['sunny', 'warm', 'high', 'strong', 'cool', 'change', 'yes'],
      dtype=object)

In [28]:
data=pd.read_csv("social media stocks 2012-2022.csv")

In [29]:
data

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2012-05-18,FB,38.230000,38.230000,45.000000,38.000000,42.049999,573576400.0
1,2012-05-21,FB,34.029999,34.029999,36.660000,33.000000,36.529999,168192700.0
2,2012-05-22,FB,31.000000,31.000000,33.590000,30.940001,32.610001,101786600.0
3,2012-05-23,FB,32.000000,32.000000,32.500000,31.360001,31.370001,73600000.0
4,2012-05-24,FB,33.029999,33.029999,33.209999,31.770000,32.950001,50237200.0
...,...,...,...,...,...,...,...,...
8393,2022-04-06,FB,223.300003,223.300003,228.990005,221.410004,226.910004,28969100.0
8394,2022-04-06,TWTR,50.770000,50.770000,52.869999,49.299999,50.040001,158865600.0
8395,2022-04-06,PINS,24.440001,24.440001,25.559999,23.870001,25.559999,12274200.0
8396,2022-04-06,SNAP,36.470001,36.470001,37.740002,35.639999,37.369999,21549700.0
8397,2022-04-06,ETSY,125.470001,125.470001,128.229996,121.389999,128.179993,3521700.0